
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Email from Jimmy Estates Site </h1>
    <p>
      <strong>From:</strong> <%= @contact.name %><br>
      <strong>Email:</strong> <%= @contact.email %>
    </p>
    <p>
    <strong>Message:</strong><br><%= @contact.message %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>