/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$rtnColor: #8bce3c;

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

html,
body,
#app,
#app > div {
  width: 100%;
  background-color: whitesmoke;
}

.imageShadow {
  -webkit-box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.2),
    0px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.2),
    0px 5px 15px rgba(0, 0, 0, 0.2);
}

//wrapper container for routes
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 82vh;
  padding-top: 75px;
}

.townlink-color {
  color: #8bce3c;
}
.townlink-color:hover {
  color: #8bce3c;
}

.invisible {
  display: none;
}

.box-shadow {
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
  box-shadow: 0px 10px 13px -7px #000000;
}

// helper cards
.cardImage {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.65;
  border-radius: 2px;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.cardTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 20px;
  width: 60%;
  text-align: center;
  background: white;
  color: black;
  -webkit-transition: width 1s, background 0.1s, 0.5s;
  -o-transition: width 1s, background 0.1s, 0.5s;
  transition: width 1s, background 0.1s, 0.5s;
  border-radius: 3px;
}

.cardDetails {
  background: #d6d6d6;
}

.parent:hover .cardTitle {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #8bce3c;
}

.parent:hover .cardImage {
  opacity: 1;
}

.parent {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: fill;
  object-fit: fill;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  border-radius: 2px;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.parent:hover .child,
.parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}
.parent:hover .child:before,
.parent:focus .child:before {
  display: block;
}

.parent:hover a,
.parent:focus a {
  display: block;
}

.border {
  border: #565050;
}

.custom-button.btn {
  background-color: #293241;
  color: #fff;
  border: none;
}
.custom-button.btn:hover {
  color: #fff !important;
  border: none;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.helperL {
  background-size: 0% 100%;
  border: none;
  border-radius: 2px;
  color: black;
  display: inline-block;
  font-size: 20px;
  outline: none;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.5s, color 0.3s;
  -o-transition: background-color 0.5s, color 0.3s;
  transition: background-color 0.5s, color 0.3s;
  width: 100%;
}

.helperL:hover {
  background-color: #8cce3c;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0)),
    color-stop(40%, rgba(255, 255, 255, 0)),
    to(rgba(255, 255, 255, 0.7))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.7) 100%
  );
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.7) 100%
  );
  background-repeat: no-repeat;
  background-size: 200% 100%;
  -webkit-transition: background-size 1s, background-color 1s, color 0.2s;
  -o-transition: background-size 1s, background-color 1s, color 0.2s;
  transition: background-size 1s, background-color 1s, color 0.2s;
  color: white;
  text-decoration: none;
}

.helperL:active {
  background-color: #8cce3c;
  -webkit-transition: background-size 0;
  -o-transition: background-size 0;
  transition: background-size 0;
}

// end of helper cards

// JUMBOTRON HERO CSS
.jumboBackground {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  z-index: 0;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.jumboList-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
  width: 80vw;
}

.overlayParticle {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 1;
  position: absolute;
}

.particles {
  position: absolute;
}

.jumboFont-primary {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1.5;
}

.jumboFont1 {
  font-size: 3vw;
  display: block;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.jumboFont2 {
  font-size: 6vw;
  display: block;
  -webkit-animation: moveInRight 1s ease-out;
  animation: moveInRight 1s ease-out;
}

.jumboFont3 {
  font-size: 4vw;
  display: block;
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
  animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

// end of jumbotron

// NAV BAR CSS

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.ellipsis {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.dropdown-item {
  background: transparent !important;
}

.navbar-font {
  font-size: 31px;
  color: #8bce3c;
  font-weight: 800;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.navbar-font:hover {
  text-decoration: none;
  color: #8bce3c;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.site-header {
  padding: 20px 10px;
  background: #fff;
  -webkit-box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.1);
}

.navbar-underline:link {
  text-decoration: none;
  font-size: 15px;
}

.navbar-underline:hover,
.navbar-underline:focus,
.navbar-underline:active {
  color: #8bce3c !important;
  text-decoration: none;
}
.navbar-underline {
  text-decoration: none;
  -webkit-transition: color 0.1s, background-color 0.1s;
  -o-transition: color 0.1s, background-color 0.1s;
  transition: color 0.1s, background-color 0.1s;
}
.navbar-underline {
  position: relative;
  display: block;
  padding: 16px 0;
  margin: auto;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 900;
  -webkit-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  -o-transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}
.navbar-underline::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #8bce3c;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: color 0.1s, -webkit-transform 0.3s ease-out;
  transition: color 0.1s, -webkit-transform 0.3s ease-out;
  -o-transition: color 0.1s, transform 0.3s ease-out;
  transition: color 0.1s, transform 0.3s ease-out;
  transition: color 0.1s, transform 0.3s ease-out,
    -webkit-transform 0.3s ease-out;
}

.navbar-underline:hover::before,
.navbar-underline:focus::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.animate {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 10px;
}

// end of navbar

// footer
.footerFont {
  position: relative;
  left: 5%;
  line-height: 1.7;
  font-size: 1.2em;
  letter-spacing: 1.5px;
}

.footerFont h1 {
  font-size: 1.8rem;
  font-weight: 900 !important;
}

.social-container h1 {
  font-size: 1.8rem;
  font-weight: 900 !important;
}

.footerbackground {
  background: #d6d6d6;
  color: black;
  -webkit-box-shadow: inset 0px -10px 50px 10px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: inset 0px -10px 50px 10px rgba(0, 0, 0, 0.19);
  box-shadow: inset 0px -10px 50px 10px rgba(0, 0, 0, 0.19);
}

.iconfont {
  font-size: 30px;
  color: whitesmoke;
}

// social css
.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #0177b5;
}

.instagram {
  background: linear-gradient(
    216deg,
    rgba(64, 93, 230, 1) 0%,
    rgba(225, 48, 108, 1) 54%,
    rgba(255, 220, 128, 1) 100%
  );
}

.googleplus {
  background: white;
}

.zillow {
  background-color: #0767f8;
}

.realtor {
  background-color: #d42331;
}

// social
//courtesy of matt henley codepen
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$timing: 265ms;
$iconColor: #00b5f5;
$accent: #002a8f;
$bluefade: #0043e0;
$gradient: #00b5f5;

@mixin transformScale($size: 1) {
  transform: scale($size);
  -ms-transform: scale($size);
  -webkit-transform: scale($size);
}

.social-container {
  width: 100%;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;

  li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
  }

  i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    -webkit-transition: all $timing ease-out;
    -o-transition: all $timing ease-out;
    transition: all $timing ease-out;
  }

  img {
    color: #fff;
    position: absolute;
    bottom: 21px;
    left: 13px;
    -webkit-transition: all $timing ease-out;
    -o-transition: all $timing ease-out;
    transition: all $timing ease-out;
    height: 50%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  #google-icon {
    color: #fff;
    position: absolute;
    bottom: 21px;
    left: 10px;
    -webkit-transition: all $timing ease-out;
    -o-transition: all $timing ease-out;
    transition: all $timing ease-out;
    height: 50%;
    -webkit-filter: grayscale(100%) brightness(135%) contrast(120%);
    filter: grayscale(100%) brightness(135%) contrast(120%);
  }

  a {
    display: inline-block;

    &:before {
      @include transformScale();
      content: " ";
      width: 60px;
      height: 60px;
      border-radius: 100%;
      display: block;
      background: -o-linear-gradient(45deg, $iconColor, $accent);
      background: linear-gradient(45deg, $iconColor, $accent);
      -webkit-transition: all $timing ease-out;
      -o-transition: all $timing ease-out;
      transition: all $timing ease-out;
    }

    &:hover:before {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all $timing ease-in;
      -o-transition: all $timing ease-in;
      transition: all $timing ease-in;
    }

    &:hover i {
      @include transformScale(2.2);
      color: $iconColor;
      background: -webkit-linear-gradient(45deg, $iconColor, $accent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-transition: all $timing ease-in;
      -o-transition: all $timing ease-in;
      transition: all $timing ease-in;
    }

    &:hover img {
      @include transformScale(1.6);
      color: $iconColor !important;
      background: -webkit-linear-gradient(45deg, $iconColor, $accent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-transition: all $timing ease-in;
      -o-transition: all $timing ease-in;
      transition: all $timing ease-in;
      -webkit-filter: invert(25%) sepia(50%) saturate(6893%) hue-rotate(214deg)
        brightness(105%) contrast(95%);
      filter: invert(25%) sepia(50%) saturate(6893%) hue-rotate(214deg)
        brightness(105%) contrast(95%);
    }

    &:hover #google-icon {
      @include transformScale(1.6);
      color: $iconColor;
      background: -webkit-linear-gradient(45deg, $iconColor, $accent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-transition: all $timing ease-in;
      -o-transition: all $timing ease-in;
      transition: all $timing ease-in;
      -webkit-filter: none;
      filter: none;
    }
  }
}

// end of footer

// beginning Company component

.companycontent {
  background: whitesmoke;
  font-size: 26px;
}

.companyfont {
  position: relative;
  color: white;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 5vw;
}

// end of company

// login

.loginWrapper {
  height: 100vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.loginForm {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 30px 0px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2 / 2 / 2 / 2;
  text-align: center;
  color: white;
}

.formWidth {
  width: 75%;
  text-align: right;
  margin: 0 auto;
}

// end of login

// announcements

.img_wrapper {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.event-border:hover {
  -webkit-box-shadow: 0px 0px 30px 10px #565050;
  box-shadow: 0px 0px 30px 10px #565050;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.card-photo-background {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 1)),
    color-stop(50%, rgba(192, 209, 227, 1)),
    to(rgba(255, 255, 255, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(192, 209, 227, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(192, 209, 227, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.event-line-break {
  background: -o-linear-gradient(179deg, #344026, $rtnColor);
  background: linear-gradient(271deg, #344026, $rtnColor);
  background-size: 400% 400%;
  width: 50%;
  left: 25%;
  position: relative;
  height: 4px;
  -webkit-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}

.hvr-bounce-to-right {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
  box-shadow: 0px 10px 13px -7px #000000;
  border-radius: 10px;
}

.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #7fc41c;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
  color: white;
  cursor: pointer;
}
.hvr-bounce-to-right:active {
  color: white;
  cursor: pointer;
  transform: translateY(2px);
  -webkit-box-shadow: 0px 10px 10px -10px #000000;
  box-shadow: 0px 10px 10px -10px #000000;
}
.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  border-radius: 10px;
}

.helper-card {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.2s;
  position: relative;
  z-index: 1;
}

.helper-card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 5px 26px rgba(0, 0, 0, 0.2),
    0 10px 26px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 26px rgba(0, 0, 0, 0.2), 0 5px 26px rgba(0, 0, 0, 0.2);
}

.helper-card:active {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.2);
}

.empty-event {
  font-size: 2.5vw;
  background: -o-linear-gradient(179deg, #344026, $rtnColor);
  background: linear-gradient(271deg, #344026, $rtnColor);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
  box-shadow: 0px 10px 13px -7px #000000;
  width: 75%;
  position: relative;
  border-radius: 5px;
  color: white;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

// end of announcements

// beginning SHOWPAGE

//wrap span with this class and no wrap.
.text-nowrap {
  white-space: nowrap;
}

.townheader-font {
  font-weight: 500;
  font-size: 1.8em;
}

// ending SHOWPAGE

// About Portfolio page

.about-position {
  float: left;
  padding: 5px 20px;
}

.caption {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.portfolioImage {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.portfolioTitle {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 20px;
  width: 50%;
  text-align: center;
  background: whitesmoke;
  color: black;
  -webkit-transition: width 1s, background 0.1s, 0.5s;
  -o-transition: width 1s, background 0.1s, 0.5s;
  transition: width 1s, background 0.1s, 0.5s;
  opacity: 0;
}

.parent1 {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: fill;
  object-fit: fill;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
}

.child1 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.parent1:hover .child1,
.parent1:focus .child1 {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.parent1:hover .child1:before,
.parent1:focus .child1:before {
  display: block;
}

.parent1:hover a,
.parent1:focus a {
  display: block;
}

.parent1:hover .portfolioTitle {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: whitesmoke;
  opacity: 1;
}

.parent1:hover .portfolioImage {
  opacity: 1;
}

//base code courtesy of Sardorbek Usmonov

.card-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  margin: 0;
}

.cardPort {
  -ms-flex-item-align: start;
  align-self: flex-start;
  position: relative;
  width: 325px;
  min-width: 275px;
  margin: 1.25rem 0.75rem;
  background: white;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border: solid #d6d6d6 thin;
  -webkit-box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
    0px 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
    0px 5px 15px rgba(0, 0, 0, 0.07);

  .card-img {
    visibility: hidden;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  }

  .card-img-hovered {
    -webkit-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 200px;
    top: 0;
  }

  .card-info {
    position: relative;
    padding: 0.75rem 1.25rem;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;

    .card-about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0.75rem 0;
      -webkit-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;

      .card-tag {
        width: 100px;
        max-width: 100px;
        padding: 0.2rem 0.5rem;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: #505f79;
        color: #fff;

        &.tag-news {
          background: #8cce3c;
        }
      }
    }

    .card-title {
      z-index: 10;
      font-size: 1.5rem;
      padding-bottom: 0.75rem;
      -webkit-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
      padding-top: 0.75rem;
    }

    .card-creator {
      padding-bottom: 0.75rem;
      -webkit-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
    }
  }

  &:hover {
    -webkit-box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
      0px 5px 15px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
      0px 5px 15px rgba(0, 0, 0, 0.07);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

    .card-img-hovered {
      -webkit-filter: brightness(80%);
      filter: brightness(80%);
      height: 100%;
    }

    .card-about,
    .card-creator {
      opacity: 0;
    }

    .card-info {
      background-color: transparent;
    }

    .card-title {
      color: #ebecf0;
      -webkit-transform: translate(0, 40px);
      -ms-transform: translate(0, 40px);
      transform: translate(0, 40px);
    }
  }
}

// CARD IMAGES
.card-1 {
  .card-img,
  .card-img-hovered {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
  }
}

.portHeaders h1 {
  padding: 0.75rem;
  font-size: 2rem;
  font-weight: 900 !important;
}

.port-line-break {
  background: -o-linear-gradient(179deg, #344026, $rtnColor);
  background: linear-gradient(271deg, #344026, $rtnColor);
  background-size: 400% 400%;
  width: 90%;
  left: 5%;
  position: relative;
  height: 3px;

  -webkit-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}

.card-container-wrapper {
  position: relative;
  width: 90%;
  left: 5%;
}

.empty-active-container {
  padding: 50px;
}

.empty-active-prop {
  height: 100px;
  font-size: 1.8em;
  background: -o-linear-gradient(179deg, #344026, $rtnColor);
  background: linear-gradient(271deg, #344026, $rtnColor);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
  box-shadow: 0px 10px 13px -7px #000000;
  border-radius: 5px;
  color: white;
  text-align: center;
}
// end of portfolio page

//end of selling

.parallaxStyleHome {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
  height: 400px;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.parallaxStyleRoutes {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
  height: 330px;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.7);
}

.header-alignment {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 1.8em;
  }
}

// user button

.buttons1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*   padding: 2em 0em; */
}

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  padding: 10px 0px;
  width: 240px;
}

.btn1 {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn1:hover {
  text-decoration: none;
}

/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  position: relative;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span {
  margin: 0 auto;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.effect04:hover {
  background-color: #8bce3c;
}

/* HOVERしたら文字1を上に */
.effect04:hover span {
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  -ms-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

/*文字2*/
.effect04::before {
  content: attr(data-sm-link-text);
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  -ms-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

/* HOVERしたら文字2を上に */
.effect04:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  -ms-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}

// new town/community

.newTownWrapper {
  width: 100%;
  height: 950px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  background-color: #99b3d4;
}

.newTownWrapper .form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2 / 1 / 2 / 1;
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin: 5%;
}

.form h1 {
  font-size: 2.2em;
}

.newTownWrapper .photo {
  background-image: url("https://images.pexels.com/photos/280221/pexels-photo-280221.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: 1 / 2 / 4 / 2;
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
}

.newTownWrapper h1 {
  font-weight: 700;
}

//end of new town

// new partners

.newPartnerWrapper {
  width: 100%;
  height: 930px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  background-color: #525f7d;
}

.newPartnerWrapper .form {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2 / 2 / 2 / 2;
  padding: 10% 10%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin: 5%;
}

.newPartnerWrapper .photo {
  background-image: url("https://images.pexels.com/photos/2058140/pexels-photo-2058140.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 4 / 1;
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
}

.newPartnerWrapper h1 {
  font-weight: 700;
}

//end of new town

.testimonyFont {
  #testimony-name {
    text-align: right;
    font-style: italic;
  }
  h1 {
    font-family: "Dancing Script", "Open Sans", sans-serif;
    color: $rtnColor;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  }
}

//404
//courtesy of purplexmess
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap"rel="stylesheet");

.mainbox-background {
  background-color: #95c2de;
  padding-top: 90px;
  height: 80vh;
}

.mainbox {
  background-color: #95c2de;
  margin: auto;
  height: 100%;
  width: 600px;
  position: relative;
}

.err {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 40%;
  top: 18%;
  color: #ffffff;
}

.err2 {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 68%;
  top: 8%;
}

.msg {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

.msg a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  text-decoration: underline;
}

//privacy page

.privacyContent {
  padding-top: 150px;
  min-height: 80vh;
}

//end of privacy

.contact-icons {
  color: #8cce3c;
}

//contact page

.contact-info-wrapper {
  font-size: 1.2em;

  background: -o-linear-gradient(179deg, #344026, $rtnColor);
  background: linear-gradient(271deg, #344026, $rtnColor);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
  box-shadow: 0px 10px 13px -7px #000000;

  width: 100%;
  position: relative;
  border-radius: 5px;
  color: white;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

//end of contact page

//home page boxes

.feature-box {
  border-radius: 3px;
  padding: 2.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  background-color: white;
  min-width: 16rem;
  text-align: center;

  &__icon {
    font-size: 4rem;
    display: inline-block;
    color: $rtnColor;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

.confidentIcon {
  filter: invert(69%) sepia(70%) saturate(419%) hue-rotate(41deg)
    brightness(95%) contrast(90%);
  width: 15%;
  margin-top: -15px;
}

//end of home page boxes

.alert-image-modal {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.alert-modal-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

//mobile and below
@media only screen and (max-width: 680px) {
  .alert-image-modal {
    height: 50%;
    width: 50%;
  }

  .alert-modal-wrapper {
    overflow: hidden;
    height: 50%;
    width: 75%;
    position: relative;
    left: 12.5%;
  }

  //helper cards
  .cardImage {
    height: 150px;
    opacity: 1;
  }

  .cardTitle {
    font-size: 16px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
  }

  .parent {
    height: 150px;
  }

  .parent:hover .child,
  .parent:focus .child {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .helperL {
    font-size: 16px;
  }

  //footer css
  .footerFont {
    left: 0%;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0px;
    padding-left: 15% !important;
  }

  .social-container {
    width: 100%;
    text-align: left;
  }

  .socialFont {
    padding-left: 15% !important;
  }

  .social-icons {
    padding-right: 4em;
    padding-left: 1em;
    list-style: none;
    margin: 0em;
    text-align: center;
  }

  //login page for mobile view
  .loginWrapper {
    -ms-grid-rows: (1fr) [3];
    -ms-grid-columns: 1fr;
    grid-template: repeat(3, 1fr) / 1fr;
  }

  .loginForm {
    margin: 10px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: 2 / 1 / 2 / 1;
  }

  .loginForm h1 {
    font-size: 24px;
    font-weight: 500;
  }

  .loginForm h2 {
    font-size: 22px;
    font-weight: 500;
  }

  //mobile for eventile
  .mobile-view {
    font-size: 16px;
  }

  .empty-event {
    font-size: 20px;
    width: 100%;
  }

  //portfolio cards
  .card-container {
    padding-left: 0%;
  }

  .cardPort {
    width: 325px;
    min-width: 275px;
  }

  //parallax and banner css for mobile
  .parallaxStyleHome {
    font-size: 5.5vw;
    height: 200px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  }

  .parallaxStyleRoutes {
    height: 200px;
  }

  #header1 {
    font-size: 1.2em;
  }
  #header2 {
    font-size: 0.8em;
  }

  //newtown page in mobile view
  .newTownWrapper {
    height: 100vh;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    grid-template: 1fr / 1fr;
  }

  .newTownWrapper .form {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1/1/1/1;
  }
  .newTownWrapper h1 {
    font-size: 20px;
    font-weight: 600;
  }

  //newpartner page in mobile view
  .newPartnerWrapper {
    height: 100vh;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    grid-template: 1fr / 1fr;
    background-color: #525f7d;
  }

  .newPartnerWrapper .form {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1/1/1/1;
  }
  .newPartnerWrapper h1 {
    font-size: 24px;
    font-weight: 600;
  }

  //testimony mobile
  .testimonyFont {
    h1 {
      font-size: 1.1rem;
    }
    p {
      font-size: 0.9;
    }
  }

  //404 page in mobile
  .mainbox {
    width: 100%;
  }

  .err {
    font-size: 8rem;
  }

  .far {
    font-size: 5.5rem;
  }

  .err2 {
    font-size: 8rem;
  }

  .msg {
    font-size: 1rem;
  }

  .townheader-font {
    font-size: 1.3em;
  }
}

//dropdown menu logic for ipad lengthy menus
@media only screen and (min-width: 415px) and (max-width: 992px) {
  .dropdown-item {
    white-space: normal !important;
    line-height: 1em;
    text-align: center !important;
  }

  .nav-item {
    text-align: center !important;
  }
}

//ipad starting point
@media only screen and (max-width: 767.92px) {
  //portfolio cards
  .card-container-wrapper {
    width: 100%;
    left: 0%;
  }
  .image-hide {
    position: absolute;
    visibility: none;
  }

  //padding about picture
  .about-position {
    text-align: center;
    width: 100%;
  }
}

// up to hamburger breakpoint and tablet/phone
@media only screen and (max-width: 992px) {
  //nav-item is each title in dropdown menu
  .nav-item {
    padding-left: 25px;
    padding-right: 25px;
  }

  //when you dropdown from nav-item, these are the elements in them
  .dropdown-item {
    white-space: normal !important;
    line-height: 1em;
  }

  //flex wrapper
  .flex-container {
    padding-top: 62px;
  }

  //helper cards
  .parent {
    width: 100%;
    margin: 20px 0px;
  }
  .wrapper {
    padding: 20px 20px;
  }
}

// navbar breakpoint to turn into hamburger and bigger
@media only screen and (min-width: 990px) {
  //navbar
  //determines when hover drop vs click drop down will work
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown:hover .dropdown-toggle::after {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }

  .dropdown-menu {
    margin-top: 0;
  }

  .section-features {
    height: 32rem;
  }
}

// bigger than tablet
@media only screen and (min-width: 1100px) {
  //jumbotron

  .jumboFont-primary {
    line-height: 1.3;
  }

  .jumboFont1 {
    font-size: 2vw;
  }

  .jumboFont2 {
    font-size: 4vw;
  }

  .jumboFont3 {
    font-size: 3vw;
  }

  .jumboBackground {
    background-attachment: fixed;
    height: 100vh;
  }

  //navbar side fade colors
  .site-header {
    padding: 20px 10px;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(255, 0, 0, 0)),
      color-stop(rgba(255, 255, 255, 1)),
      color-stop(rgba(255, 255, 255, 1)),
      color-stop(rgba(255, 255, 255, 1)),
      color-stop(rgba(255, 255, 255, 1)),
      color-stop(rgba(255, 255, 255, 1)),
      to(rgba(255, 0, 0, 0))
    );
    background-image: -o-linear-gradient(
      left,
      rgba(255, 0, 0, 0),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 0, 0, 0)
    );
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 0, 0, 0)
    );

    background: -webkit-linear-gradient(
      right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );

    //home page box height
  }

  //event tile
  .hvr-bounce-to-right {
    font-size: 1.5vw;
  }
}

//no parallax for tablets/landscape and below
@media only screen and (max-width: 1100px) {
  //homepage banners
  .parallaxStyleHome {
    background-attachment: inherit;
  }
}
