/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  @import url('https://fonts.googleapis.com/css?family=Lato:300,700|Prata"');

html,
body,
#app,
#app > div {
  width: 100%;
  background-color: whitesmoke;
}

.venueBackground {
  background: white;
}

.master {
  // font-family: "Lato", sans-serif;
  font-weight: 300;
  font-family: ambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.link {
  color: #8bce3c;
}
.link:hover {
  color: #8bce3c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
}

.glow-border {
  box-shadow: 0px 0px 30px 10px #565050;
}

.invisible {
  display: none;
}

// venue
.venueImage {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: fill;
  opacity: 0.65;
  border-radius: 2px;
  transition: opacity 0.4s ease-in-out;
}

.venueTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 20px;
  width: 50%;
  text-align: center;
  background: whitesmoke;
  color: black;
  transition: width 1s, background 0.1s, 0.5s;
  border-radius: 3px;
}

.venueDetails {
  background: #d6d6d6;
}

.parent:hover .venueTitle {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

.parent:hover .venueImage {
  opacity: 1;
}

.parent {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: fill;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  border-radius: 2px;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.parent:hover .child,
.parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

.parent:hover .child:before,
.parent:focus .child:before {
  display: block;
}

.parent:hover a,
.parent:focus a {
  display: block;
}

/* Media Queries */
@media screen and (max-width: 960px) {
  .parent {
    width: 100%;
    margin: 20px 0px;
  }
  .wrapper {
    padding: 20px 20px;
  }
}

.border {
  border: #565050;
}

.custom-button.btn {
  background-color: #293241;
  color: #fff;
  border: none;
}
.custom-button.btn:hover {
  color: #fff !important;
  border: none;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.helperL {
  background-size: 0% 100%;
  border: none;
  border-radius: 2px;
  color: black;
  display: inline-block;
  font-size: 20px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s, color 0.3s;
  width: 100%;
}

.helperL:hover {
  background-color: #8cce3c;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.7) 100%
  );
  background-repeat: no-repeat;
  background-size: 200% 100%;
  transition: background-size 1s, background-color 1s, color 0.2s;
  color: white;
  text-decoration: none;
}

.helperL:active {
  background-color: #8cce3c;
  transition: background-size 0;
}

// mobile view
@media only screen and (max-width: 600px) {
  .venueImage {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: fill;
    opacity: 1;
    border-radius: 2px;
    transition: opacity 0.4s ease-in-out;
  }

  .venueTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    color: black;
    transition: width 1s, background 0.1s, 0.5s;
    border-radius: 3px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
  }

  .venueDetails {
    background: #d6d6d6;
  }

  .parent {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: fill;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    border-radius: 2px;
  }

  .child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  .parent:hover .child,
  .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
  }

  .helperL {
    background-size: 0% 100%;
    border: none;
    border-radius: 2px;
    color: black;
    display: inline-block;
    font-size: 16px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s, color 0.3s;
    width: 100%;
  }

  .helperL:hover {
    background-color: #8cce3c;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.7) 100%
    );
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transition: background-size 1s, background-color 1s, color 0.2s;
    color: white;
    text-decoration: none;
  }

  .helperL:active {
    background-color: #8cce3c;
    transition: background-size 0;
  }
}

// end of venue

// jumbotron

.jumboBackground {
  background-color: white !important;
  height: 50vh;
}

.overlayParticle {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 0;
}

.particles {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.particles1 {
  position: absolute;
  top: 15%;
  right: 0;
  bottom: 0;
  left: 0;
}

.jumboFont {
  font-size: 6vw;
}

.jumboFont2 {
  font-size: 3vw;
}

.jumboFont3 {
  font-size: 4vw;
}

// bigger than mobile
@media only screen and (min-width: 600px) {
  .jumboFont {
    font-size: 4vw;
  }

  .jumboFont2 {
    font-size: 2vw;
  }

  .jumboFont3 {
    font-size: 3vw;
  }
  .centerJumboText {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
  }
  .centerJumboText2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centerJumboText3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
  }
  .jumboBackground {
    background-color: white !important;
    height: 100vh;
  }
}

// end of jumbotron

// NAV BAR CSS

.dropdown-item {
  background: transparent !important;
}

.navbar-font-type {
  font-family: ambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.navbar-font {
  font-size: 31px;
  color: black;
  font-weight: 800;
}

.navbar-font:hover {
  font-size: 31px;
  color: #8bce3c;
  font-weight: 800;
}

.site-header {
  padding: 20px 10px;
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .site-header {
    padding: 20px 10px;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 0, 0, 0)
    );

    background: -webkit-linear-gradient(
      right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
  }
}

.navbar-underline:link {
  text-decoration: none;
  font-size: 15px;
}

.navbar-underline:hover,
.navbar-underline:focus,
.navbar-underline:active {
  color: #8bce3c !important;
  text-decoration: none;
}
.navbar-underline {
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
}
.navbar-underline {
  position: relative;
  display: block;
  padding: 16px 0;
  margin: auto;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 900;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}
.navbar-underline::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #8bce3c;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.3s ease-out;
}

.navbar-underline:hover::before,
.navbar-underline:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 10px;
}

// .dropdown-toggle::after {
//   transition: transform 0.15s linear;
// }

// .show.dropdown:hover .dropdown-toggle::after {
//   transform: translateY(3px);
// }

@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown:hover .dropdown-toggle::after {
    transform: translateY(4px);
  }

  .dropdown-menu {
    margin-top: 0;
  }
}

// end of navbar

// footer

.footerbackground {
  background: #d6d6d6;
  color: black;
}

.iconfont {
  font-size: 30px;
  color: whitesmoke;
}

// social css

$primary: hsla(120, 74%, 75%, 0.6); //#8eee8e
$primary-dark: hsla(120, 74%, 75%, 0.3); //#8eee8e

$white87: hsla(0, 0%, 100%, 0.87); //#fff
$white60: hsla(0, 0%, 100%, 0.6); //#fff
$white30: hsla(0, 0%, 100%, 0.3); //#fff
$white15: hsla(0, 0%, 100%, 0.15); //#fff
$white0: hsla(0, 0%, 100%, 0); //#fff

$dark-gray: hsla(0, 0%, 7%, 1); //#121212

$link: hsla(208, 100, 67, 1); //#56afff
$link-light: hsla(192, 100, 49, 1); //#00C8FB

/**
 * rem
 */
// Convert a pixel value to REM units
@function rem($pixel) {
  @return $pixel / 16 + rem;
}

// icon
.c-magic-icon {
  position: relative;
  display: block;
  text-decoration: none;
  outline: none;
  line-height: rem(45);
  display: inline-block;
  text-align: center;
  margin: 0 rem(4);

  & * {
    pointer-events: none;
  }

  &:hover .c-magic-icon__curtain {
    transform: translate(0, 100%);
  }

  &:focus {
    .c-magic-icon__outline {
      border: rem(1) solid $link;
      color: $link;
    }
  }

  &:active .c-magic-icon__fill {
    opacity: 40%;
  }
}

// icons layers

.c-magic-icon__fill {
  border-radius: 50%;
  color: $dark-gray;
  display: inline-block;
  width: rem(45);
  height: rem(45);
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #0177b5;
}

.instagram {
  background: linear-gradient(
    216deg,
    rgba(64, 93, 230, 1) 0%,
    rgba(225, 48, 108, 1) 54%,
    rgba(255, 220, 128, 1) 100%
  );
}

.googleplus {
  background-color: #dc5246;
}

.zillow {
  background-color: #0767f8;
}

.realtor {
  background-color: #d42331;
}

.c-magic-icon__fill {
  opacity: 80%;
}

.c-magic-icon__curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d6d6d6;
  transform: translate(0, 0%);
  transition: transform 0.18s ease-out;
}

.c-magic-icon__outline {
  border-radius: 50%;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: rem(45);
  height: rem(45);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

// end of social css

// end of footer

// beginning Company component

.companycontent {
  background: whitesmoke;
  height: 100%;
  font-size: 26px;
}

.companyfont {
  position: relative;
  color: white;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 5vw;
}

// end of company

// login

// end of login

// announcements

.event-border:hover {
  -webkit-box-shadow: 0px 0px 30px 10px #565050;
  -moz-box-shadow: 0px 0px 30px 10px #565050;
  box-shadow: 0px 0px 30px 10px #565050;
  transition: box-shadow 0.3s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .mobile-view {
    font-size: 20px;
  }

  .event-map {
    height: 300px !important;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0;
  }
}

.event-map {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0;
}

.hvr-bounce-to-right {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #7fc41c;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
  color: white;
  cursor: pointer;
}
.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#event-box {
  height: 250px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

@media only screen and (min-width: 780px) {
  #event-box {
    height: 350px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }
}

// end of announcements

// beginning SHOWPAGE

//wrap span with this class and no wrap.
.text-nowrap {
  white-space: nowrap;
}

.townheader-font {
  font-weight: 300;
  font-size: 30px;
}

// ending SHOWPAGE

//MOBILE VIEW CSS

//navbar bigger than mobile
@media only screen and (min-width: 600px) {
  #about {
    width: 280px;
  }
}

//mobile view
@media only screen and (max-width: 600px) {
  #companyfont {
    font-size: 16px;
  }
}
// ending mobile view css

// About Portfolio page

.caption {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.portfolioImage {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: fill;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.portfolioTitle {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 20px;
  width: 50%;
  text-align: center;
  background: whitesmoke;
  color: black;
  transition: width 1s, background 0.1s, 0.5s;
  opacity: 0;
}

.parent1 {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: fill;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
}

.child1 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.parent1:hover .child1,
.parent1:focus .child1 {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent1:hover .child1:before,
.parent1:focus .child1:before {
  display: block;
}

.parent1:hover a,
.parent1:focus a {
  display: block;
}

.parent1:hover .portfolioTitle {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: whitesmoke;
  opacity: 1;
}

.parent1:hover .portfolioImage {
  opacity: 1;
}
// end of portfolio page

//end of selling

.parallaxStyleHome {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 5.5vw;
  color: white;
  position: relative; // relative pushes it to the top
  z-index: 1;
  height: 400px;
}

.parallaxStyleRoutes {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 5.5vw;
  color: white;
  position: relative; // relative pushes it to the top
  z-index: 1;
  height: 300px;
}
