/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  @import url('https://fonts.googleapis.com/css?family=Lato:300,700|Prata"');

html,
body,
#app,
#app > div {
  width: 100%;
  background-color: whitesmoke;
}

.venueBackground {
  background: white;
}

.master {
  // font-family: "Lato", sans-serif;
  font-weight: 300;
  font-family: ambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.link {
  color: #8bce3c;
}
.link:hover {
  color: #8bce3c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
}

.glow-border {
  box-shadow: 0px 0px 30px 10px #565050;
}

.invisible {
  display: none;
}

// venue
.venueImage {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: fill;
  opacity: 0.3;
  transition: opacity 0.4s ease-in-out;
}

.venueTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 20px;
  width: 50%;
  text-align: center;
  background: whitesmoke;
  color: black;
  transition: width 1s, background 0.1s, 0.5s;
}

.venueDetails {
  background: black;
  color: whitesmoke;
}

.parent {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: fill;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.parent:hover .child,
.parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .child:before,
.parent:focus .child:before {
  display: block;
}

.parent:hover a,
.parent:focus a {
  display: block;
}

.parent:hover .venueTitle {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: whitesmoke;
}

.parent:hover .venueImage {
  opacity: 1;
}

/* Media Queries */
@media screen and (max-width: 960px) {
  .parent {
    width: 100%;
    margin: 20px 0px;
  }
  .wrapper {
    padding: 20px 20px;
  }
}

.border {
  border: #565050;
}

.custom-button.btn {
  background-color: #293241;
  color: #fff;
  border: none;
}
.custom-button.btn:hover {
  color: #fff !important;
  border: none;
}

.parallaxVenue {
  background: url("https://images.pexels.com/photos/1080721/pexels-photo-1080721.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  filter: grayscale(1%);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// end of venue

// jumbotron

.jumboBackground {
  background-color: black !important;
}

.overlayParticle {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 0;
}

.particles {
  position: absolute;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.jumboFont {
  font-size: 6vw;
}

.jumboFont2 {
  font-size: 3vw;
}

.jumboFont3 {
  font-size: 4vw;
}

// bigger than mobile
@media only screen and (min-width: 600px) {
  .jumboFont {
    font-size: 4vw;
  }

  .jumboFont2 {
    font-size: 2vw;
  }

  .jumboFont3 {
    font-size: 3vw;
  }
}
// end of jumbotron

// NAV BAR CSS

.navbar-font-type {
  font-family: ambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.navbar-font {
  font-size: 31px;
  color: black;
  font-weight: 800;
}

.navbar-font:hover {
  font-size: 31px;
  color: #8bce3c;
  font-weight: 800;
}

.site-header {
  background-color: #fff;
  padding: 20px 10px;
}

.navbar-underline:link {
  text-decoration: none;
  font-size: 15px;
}

.navbar-underline:hover,
.navbar-underline:focus,
.navbar-underline:active {
  color: #8bce3c !important;
  text-decoration: none;
}
.navbar-underline {
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
}
.navbar-underline {
  position: relative;
  display: block;
  padding: 16px 0;
  margin: auto;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 900;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}
.navbar-underline::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #8bce3c;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.3s ease-out;
}

.navbar-underline:hover::before,
.navbar-underline:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

// end of navbar

// footer

.footerbackground {
  background: #d6d6d6;
  color: black;
}

.iconfont {
  font-size: 30px;
  color: whitesmoke;
}

// social css

$primary: hsla(120, 74%, 75%, 0.6); //#8eee8e
$primary-dark: hsla(120, 74%, 75%, 0.3); //#8eee8e

$white87: hsla(0, 0%, 100%, 0.87); //#fff
$white60: hsla(0, 0%, 100%, 0.6); //#fff
$white30: hsla(0, 0%, 100%, 0.3); //#fff
$white15: hsla(0, 0%, 100%, 0.15); //#fff
$white0: hsla(0, 0%, 100%, 0); //#fff

$dark-gray: hsla(0, 0%, 7%, 1); //#121212

$link: hsla(208, 100, 67, 1); //#56afff
$link-light: hsla(192, 100, 49, 1); //#00C8FB

/**
 * rem
 */
// Convert a pixel value to REM units
@function rem($pixel) {
  @return $pixel / 16 + rem;
}

// icon
.c-magic-icon {
  position: relative;
  display: block;
  text-decoration: none;
  outline: none;
  line-height: rem(45);
  display: inline-block;
  text-align: center;
  margin: 0 rem(4);

  & * {
    pointer-events: none;
  }

  &:hover .c-magic-icon__curtain {
    transform: translate(0, 100%);
  }

  &:focus {
    .c-magic-icon__outline {
      border: rem(1) solid $link;
      color: $link;
    }
  }

  &:active .c-magic-icon__fill {
    opacity: 40%;
  }
}

// icons layers

.c-magic-icon__fill {
  border-radius: 50%;
  color: $dark-gray;
  display: inline-block;
  width: rem(45);
  height: rem(45);
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1ca1f2;
}

.instagram {
  background: linear-gradient(
    216deg,
    rgba(64, 93, 230, 1) 0%,
    rgba(225, 48, 108, 1) 54%,
    rgba(255, 220, 128, 1) 100%
  );
}

.other {
  background-color: blue;
}

.c-magic-icon__fill {
  opacity: 80%;
}

.c-magic-icon__curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d6d6d6;
  transform: translate(0, 0%);
  transition: transform 0.18s ease-out;
}

.c-magic-icon__outline {
  border-radius: 50%;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: rem(45);
  height: rem(45);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

// end of social css

// end of footer

// beginning Company component

.parallaxCompany {
  background: url("https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  filter: grayscale(10%);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.companycontent {
  background: whitesmoke;
  height: 100%;
  font-size: 26px;
}

.companyfont {
  position: relative;
  color: white;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 5vw;
}

// end of company

// reservation css

.parallaxReservation {
  background: url("https://bottle-service-vegas.com/wp-content/uploads/2019/04/Bottle-service-seating-areas.jpg");
  filter: grayscale(100%);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// end of reservation

// login

// end of login

// announcements

.glow-border {
  -webkit-box-shadow: 0px 0px 30px 10px #565050;
  -moz-box-shadow: 0px 0px 30px 10px #565050;
  box-shadow: 0px 0px 30px 10px #565050;
  height: 60vw;
  width: 100%;
  /* even more control with max-width */
  max-width: 720px;
}

.event-border:hover {
  -webkit-box-shadow: 0px 0px 30px 10px #565050;
  -moz-box-shadow: 0px 0px 30px 10px #565050;
  box-shadow: 0px 0px 30px 10px #565050;
  transition: box-shadow 0.3s ease-in-out;
}

.parallaxEvents {
  background: url("https://s.yimg.com/ny/api/res/1.2/xUn.BetJqVS0KMZFtfKJKQ--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-images/2019-11/15a1f0d0-04ce-11ea-b6fb-3a78ae8a00a2");
  filter: grayscale(1%);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// .flier-size {
//   height: 300px;
// }

// end of announcements

// beginning SHOWPAGE

.parallaxShowPage {
  background: url("https://images.pexels.com/photos/1918291/pexels-photo-1918291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  filter: grayscale(1%);
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.darken-pseudo:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

.darken-with-text h1 {
  font-size: 5.5vw;
  color: white;
  position: relative; // relative pushes it to the top
  z-index: 1;
}

.darken-with-text h4 {
  font-size: 4.5vw;
  color: white;
  position: relative; // relative pushes it to the top
  z-index: 1;
}

// bigger than mobile
@media only screen and (min-width: 600px) {
  .darken-with-text h1 {
    font-size: 3.5vw;
    color: white;
    position: relative; // relative pushes it to the top
    z-index: 1;
  }

  .darken-with-text h4 {
    font-size: 2.5vw;
    color: white;
    position: relative; // relative pushes it to the top
    z-index: 1;
  }
}

//wrap span with this class and no wrap.
.text-nowrap {
  white-space: nowrap;
}

.townheader-font {
  font-weight: 300;
  font-size: 30px;
}

// ending SHOWPAGE

// BEGINNING About Jimmy Page

.parallaxAboutJimmyPage {
  background: url("https://images.pexels.com/photos/374016/pexels-photo-374016.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  filter: grayscale(1%);
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// END About Jimmy Page

//MOBILE VIEW CSS

//navbar bigger than mobile
@media only screen and (min-width: 600px) {
  #about {
    width: 280px;
  }
}

//mobile view
@media only screen and (max-width: 600px) {
  #companyfont {
    font-size: 16px;
  }
}
// ending mobile view css

// About company page
.parallaxAboutCompanyPage {
  background: url("https://images.pexels.com/photos/1546168/pexels-photo-1546168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  filter: grayscale(1%);
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
//end about company page

// About Portfolio page
.parallaxAboutPortfolioPage {
  background: url("https://images.pexels.com/photos/1546168/pexels-photo-1546168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  filter: grayscale(1%);
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.portfolioTitle {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 20px;
  width: 50%;
  text-align: center;
  background: whitesmoke;
  color: black;
  transition: width 1s, background 0.1s, 0.5s;
}

.parent:hover .portfolioTitle {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: whitesmoke;
}

.parent:hover .venueImage {
  opacity: 1;
}
// end of portfolio page
